@defer {
<div class="container mx-auto w-full h-screen">
  <div class="max-w-xl mx-auto w-full shadow-lg rounded-lg overflow-hidden">
    @if (book(); as bookDetails) {
    <div
      class="bg-cover bg-center h-56 p-4"
      [style.backgroundImage]="'url(' + bookDetails.cover + ')'"
    >
      <div class="flex justify-end">
        <button (click)="goBack()" class="btn btn-primary">Back to List</button>
      </div>
    </div>
    <div class="p-4">
      <h1 class="text-2xl font-bold">{{ bookDetails.title }}</h1>
      <p class="mt-1">
        {{ bookDetails.author.firstName }} {{ bookDetails.author.lastName }}
      </p>
      <div class="mt-2">
        <div class="text-white mt-3">
          <strong>Description:</strong> {{ bookDetails.description }}
        </div>
        <div class="text-white mt-3">
          <strong>Price:</strong> {{ bookDetails.price | currency }}
        </div>
        <div class="text-white mt-3">
          <strong>Pages:</strong> {{ bookDetails.pages }}
        </div>
        <div class="text-white mt-3">
          <strong>Stock:</strong> {{ bookDetails.stock }}
        </div>
        <div class="mt-4">
          <button
            (click)="editBook()"
            class="btn btn-warning text-white font-bold py-2 px-4 rounded"
          >
            Edit
          </button>
          <button
            (click)="deleteBook()"
            class="btn btn-error text-white font-bold py-2 px-4 rounded ml-2"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
    }
  </div>

  @if (isEditModalOpen()) {
  <app-edit-modal
    [resource]="book()"
    resourceName="Book"
    [fields]="getBookFields()"
    (close)="closeEditModal()"
    (save)="saveEditedBook($event)"
  >
  </app-edit-modal>
  } @if (isDeleteModalOpen()) {
  <app-delete-modal
    (close)="closeDeleteModal()"
    (confirm)="confirmDeleteBook()"
    [resourceDisplayName]="book()?.title ?? 'book'"
  >
  </app-delete-modal>
  }
</div>
} @loading {
<div class="loading-spinner"></div>
}
