<main class="flex flex-col md:flex-row justify-around items-center my-4">
  <div class="p-5 max-w-sm md:w-96">
    <h1 class="text-4xl md:text-8xl font-bold text-center md:text-left">
      Get Started.
    </h1>
  </div>
  <div class="card bg-base-100 max-w-sm md:w-96 shadow-xl my-5 md:my-0">
    <figure>
      <img
        src="https://m.media-amazon.com/images/I/81NQA1BDlnL._SY466_.jpg"
        alt="Book"
        class="w-full"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title text-lg md:text-xl">
        Harry Potter & the Chamber of Secrets
      </h2>
      <p>Manage your books now!</p>
      <div class="card-actions justify-end">
        <a class="btn btn-primary" href="/books">Explore now</a>
      </div>
    </div>
  </div>
</main>
